<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-6">
      <h3>ポートフォリオ名</h3>
      <div><%= @port_folio.title %></div>
    </div>
    <div class="col-6">
      <div><%= @port_folio.title %><%= attachment_image_tag @port_folio, :image, size: "100x100", fallback: "no-image.jpg" %></div>
    </div>
    <div class="col-12">
      <h4>ステータス</h4>
      <div>
        <% if @port_folio.signin_ok == true %>
          <span class="badge badge-success">ログインOK</span>
        <% else %>
          <span class="badge badge-danger">ログインNG</span>
        <% end %>
        <% if @port_folio.signup_ok == true %>
          <span class="badge badge-success">新規登録OK</span>
        <% else %>
          <span class="badge badge-danger">新規登録NG</span>
        <% end %>
        <% if @port_folio.instance == true %>
          <span class="badge badge-success">サイト閲覧可能状態</span>
        <% else %>
          <span class="badge badge-danger">サイト閲覧停止中</span>
        <% end %>
        <% if @port_folio.share_others == true %>
          <span class="badge badge-success">公開OK</span>
        <% else %>
          <span class="badge badge-danger">公開NG</span>
        <% end %>
      </div>
    </div>
    <div class="col-12">
      <h3>サイトURL</h3>
      <div><%= @port_folio.site_url %></div>
    </div>
    <div class="col-12">
      <h3>github URL</h3>
      <div><%= @port_folio.git_hub_url %></div>
    </div>
    <div class="col-12">
      <h3>制作背景</h3>
      <div><%= @port_folio.background_story %></div>
    </div>
    <div class="col-12">
      <h3>ターゲット</h3>
      <div><%= @port_folio.target %></div>
    </div>
    <div class="col-12">
      <h3>工夫した点</h3>
      <div><%= @port_folio.ingenuity_point %></div>
    </div>
    <div class="col-12">
      <h3>苦労した点</h3>
      <div><%= @port_folio.difficult_point %></div>
    </div>
    <div class="col-12">
      <h3>学んだこと</h3>
      <div><%= @port_folio.learn_point %></div>
    </div>
    <div class="col-12">
      <h3>今後実装したい機能</h3>
      <div><%= @port_folio.wanna_install %></div>
    </div>
    <div class="col-12">
      <h3>レビュー者に伝えたいこと</h3>
      <div><%= @port_folio.remarks %></div>
    </div>
  </div>
</div>